.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.fonts {
    font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
    display: block;
    color: #E9E5D6;
}

.body {
    background-image: url("../images/NvL.gif");
}

.body-html {
    background-color: #464E2E;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.history {
    width: 1200px;
}

.image-svg {
    width: 400px;
}
